<nav class="navbar navbar-light bg-success">
    <div class="container-fluid container-div">
        <div class="col-4">
            <a class="navbar-brand mx-4" routerLink="/">
                <span class="badge bg-warning text-dark">CHAT-ME</span>
            </a>
        </div>
        <div class="col-8 d-flex justify-content-end">
            <button class="btn btn-sm btn-warning mx-2" routerLink="/">
                Chat
            </button>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>